* { box-sizing: border-box; }

body {
    margin: 0;
    font-size: 16px;
}

/* menubuttons */
.nav-btns {
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 50px;

    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    font-weight: 400;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.nav-btns a {
    text-decoration: none;
    color: white;
}

/* Btn til tagsider */
.btn {
    height: 30px;
    padding: 0;
    margin: 20px;
    border-bottom: 2px solid;
    text-align: center;
    transition: all .25s ease;
}

.btn.h {
    width: 60px;
    border-bottom-color: #ff672f;
    filter: drop-shadow(0 0px 1px #ff672f);
}

.btn.c {
    width: 45px;
    border-bottom-color: #06b4ff;
    filter: drop-shadow(0 0px 1px #06b4ff);
}

.btn.j {
    width: 112px;
    border-bottom-color: #ffda00;
    filter: drop-shadow(0 0px 1px #ffda00);
}

.btn:hover { opacity: 0.8; }
.btn.h:hover { width: 65px; } 
.btn.c:hover { width: 50px; }
.btn.j:hover { width: 117px; }

/* Change logo size */
@media screen and (max-width:768px) {
    .logo img {
        width: auto;
        height: 62px;
        margin-top: 20px;
    }
    input:focus {
        width: 150px;
    }
}

@media screen and (max-width:375px) {
    .top {
        margin-left: 30px;
    }
    .search {
        right: 5px;
    }
    input:focus {
        width: 150px;
    }
    .logo img {
        width: auto;
        height: 82px;
    }
    .nav-btns {
        top: 150px;
    }
}