* {
    box-sizing: border-box;
}

body {
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0;
}

/* menu */
.tag {
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    position: relative;
    top: 50px;
}

.tag a {
    text-decoration: none;
    color: white;
}


/* Btn til tags */

.btn {
    height: 30px;
    padding: 0;
    margin: 20px;
    border-bottom: 2px solid;
    text-align: center;
}

.btn.h {
    width: 60px;
    border-bottom-color: #ed612c;
}

.btn.c {
    width: 45px;
    border-bottom-color: #00adf6;
}

.btn.j {
    width: 100px;
    border-bottom-color: #f0b24b;
}

.btn:hover {
    opacity: 0.8;
}


@media screen and (max-width:768px) {
    .logo img {
        width: auto;
        height: 62px;
        margin-top: 20px;
    }

    input:focus {
        width: 150px;
    }

}

@media screen and (max-width:375px) {

    .top {
        margin-left: 30px;
    }

    .search {
        right: 5px;
    }

    input:focus {
        width: 150px;
    }

    .logo img {
        width: auto;
        height: 82px;
    }



    .tag {
        top: 150px;
    }

}