* {
    box-sizing: border-box;

}

body {
    margin: 0;
    /* NY */
    /*background-image: linear-gradient(to bottom right, rgb(34, 34, 34),
     rgb(20, 20, 20), rgb(34, 34, 34)); GRADIENT BACKGROUND*/
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 200;
}

.top {
    width: 100%;
    height: 120px;
    /* NY - fra 100px til 120px */
}

.logo {
    margin: 20px 25px;
    /* NY - økt margin l og r fra 20px til 25px*/
    position: absolute;
    z-index: 1000;
}

.logo img {
    width: auto;
    height: 92px;
}

.search {
    margin: 20px;
    position: absolute;
    top: 50px;
    right: 30px;
}

.search img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:768px) {
    .logo img {
        width: auto;
        height: 62px;
        margin-top: 20px;
    }

}

@media screen and (max-width:375px) {
    .logo img {
        width: auto;
        height: 82px;
    }

}

/* menu */

.tag {
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    position: relative;
    top: 50px;
}

.tag a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:375px) {
    .tag {
        top: 150px;
    }
}

/* Btn til tags */

.btn {
    height: 30px;
    padding: 0;
    margin: 20px;
    border-bottom: 2px solid;
    text-align: center;
}

.btn.h {
    width: 60px;
    border-bottom-color: #ed612c;
}

.btn.c {
    width: 45px;
    border-bottom-color: #00adf6;
}

.btn.j {
    width: 100px;
    border-bottom-color: #f0b24b;
}

.btn:hover {
    opacity: 0.8;
}