* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-image: linear-gradient(-35deg, rgb(10, 10, 10), rgb(30, 30, 30), rgb(10, 10, 10));
    /* background-color: papayawhip; */
    background-size: 100% 3500px;
    background-repeat: no-repeat;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
}

.wrapper {
    width: 100%; 
    height: auto;  
    margin: 0 auto; 
    text-align: center; 
    position: relative;
    top: 700px; 
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 600px;
    overflow: hidden;
    
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }
  
  .slideshow-container img { width: 100%; height: auto; }
  .slideshow-container #productivity { margin-top: -65px; }
  .slideshow-container #prototyping { width:110%; margin-left: -80px; }
  .slideshow-container #teamwork { margin-top: -250px; }
  .slideshow-container #homeoffice { margin-top: -100px; }
  .mySlides { display: none; }

  .text {
    background-color: rgba(34, 34, 34, 0.452); 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    text-align: center;

    font-size: 30px;
    color: #f2f2f2;
    font-family: 'Inconsolata', monospace; 
    font-weight: 700;
    letter-spacing: 0.5px; 
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s ease;
  }
  /* .active,  */
  .dot:hover{ background-color: #f0b24b; }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
  }
  
  @keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
  }

  /* Tags */
.code-display {
    margin: 0 auto; 
    margin-top: -60px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

.display-box {
    margin: 20px 50px;
    position: relative;
}

.display-html, .display-css, .display-js {
    background-size: cover;
    width: 270px;
    height: 180px;
}

.display-html { background-image: url("images/display-html.png"); background-position: center left; }
.display-css { background-image: url("images/display-css.png"); background-position: center center; }
.display-js { background-image: url("images/display-js.png"); background-position: center center; }

.display-box a {
    position: relative;
    top: 15px; 
    text-decoration: none; 
    color: white;  
    
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* Btn til ani-boxes */
.btn {
    width: 110px; 
    height: 30px; 
    border-radius: 8px; 
    padding: 5px; 
    margin-top: 20px; 

    transition: all .3s ease;
}

.btn.h {
    border: 2px solid #ff672f;
    margin: 0 auto;
    box-shadow: 0 0 3px #ff672f, inset 0 0 3px #ff672f;
}

.btn.c {
    border: 2px solid  #06b4ff; 
    margin: 0 auto;
    box-shadow: 0 0 3px #06b4ff, inset 0 0 3px #06b4ff;
}

.btn.j {
    border: 2px solid  #ffc64d; 
    margin: 0 auto;
    height: 30.5px; 
    width: 111px; 
    box-shadow: 0 0 3px #ffc64d, inset 0 0 3px #ffc64d;
}

.btn.h:hover{
    /* background-color: #ed612c;*/
    background-color: #ff672f;
}

.btn.c:hover{
    /*background-color: #00adf6;*/
    background-color: #06b4ff;
}

.btn.j:hover{
    /* background-color: #f0b24b;*/
    background-color: #ffc64d;
}

/* Artikkler */

.artikkel-wrapper {
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 230px; 

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;    
}

.artikkel-wrapper a {
    text-decoration: none; 
}

.stor, .middels, .liten { 
    min-height: 250px; 
    box-shadow: 0 3px 12px rgb(0, 0, 0);  
    background-size: cover;
    background-position: center center; 
    opacity: 1;
}

.stor { grid-row: span 3; }
.middels { grid-row: span 2; }
.liten { grid-row: span 1; }

.stor:hover, .middels:hover, .liten:hover { opacity: 0.7; }

.stor .headline, .middels .headline, .liten .headline {
    width: 100%; 
    height: 100px; 
    margin-top: 50px;
    padding-top: 40px; 

    color: white;  
    background-color: rgba(34, 34, 34, 0.658); 

    opacity: 0;
    transition: all .3s ease;
}

.stor:hover .headline, .middels:hover .headline, .liten:hover .headline {
    opacity: 1;
}

.art-en { background-image: url("images/html.gif"); }
.art-to {background-image: url("images/css-grid.jpg"); }
.art-tre { background-image: url("images/js-sets.png"); }
.art-fire { background-image: url("images/id-vs-class.png"); }
.art-fem { background-image: url("images/html-layout.png"); }
.art-seks { background-image: url("images/grunnleggende-prog.jpg"); }
.art-sju { background-image: url("images/js-grunnleggende.jpg"); }
.art-åtte { background-image: url("images/css-parallaxing.png"); }
.art-ni { background-image: url("images/html-lar.jpg"); }
.art-ti { background-image: url("images/css-box-sizing.png"); }
.art-ellve { background-image: url("images/jquery.jpg"); }
.art-tolv { background-image: url("images/css-animation.jpeg"); }

.corner {
    width: 0;
    height: 0;
    z-index: 1000;
    border-style: solid;
    border-width: 35px 35px 0 0;
}

.marker_html {
    border-color: #ed612c transparent transparent transparent;
 }

.marker_css {
    border-color: #00adf6 transparent transparent transparent;
 }

.marker_js {
    border-color: #f0b24b transparent transparent transparent;
 }

/* Repsonsiv */

@media screen and (max-width: 1200px) {
    .artikkel-wrapper {  
        margin: 1% 0 1% 0%;
    }
    .art-en,
    .art-to,
    .art-tre,
    .art-fire,
    .art-fem,
    .art-seks,
    .art-sju,
    .art-åtte,
    .art-ni,
    .art-ti,
    .art-ellve,
    .art-tolv {
        width: 300px;
        height: 400px;
    }

    .art-fire, .art-ti {
        top: 100px;
    }


    .art-seks, .art-tolv{
        top: 100px;
    }
}

@media screen and (max-width:1100px) {
    .art-en,
    .art-to,
    .art-tre,
    .art-fire,
    .art-fem,
    .art-seks,
    .art-sju,
    .art-åtte,
    .art-ni,
    .art-ti,
    .art-ellve,
    .art-tolv {
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width:780px) {
    .artikkel {
        opacity: 1; 
    }

    .artikkel p {
        visibility: visible; 
    }

    .art-en,
    .art-to,
    .art-tre,
    .art-fire,
    .art-fem,
    .art-seks,
    .art-sju,
    .art-åtte,
    .art-ni,
    .art-ti,
    .art-ellve,
    .art-tolv {
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    .logo img {
        width: auto; 
        height: 62px;
    }

    .logo.liten img {
        width: auto; 
        height: 52px; 
    }

    .logo.liten {
        left: -50px; 
    }

    .icons img {
        top: 30px; 
        left: 0px; 
    }
    
    .footer .icons p {
        font-size: 12px; 
        left: 50px; 
    }

    .some img {
        top: -70px; 
        left: -60px;
    }
}

@media screen and (max-width:375px) {
    .artikkel {
        top: 80px; 
    }

    .slideshow-container img {
        height: 400px;
    }

    .text {
        font-size: 15pt;
        top: 270px; 
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .tag-box {
        margin-top: -320px; 
    }

    .logo.liten {
        left: -100px; 
    }
}



/* fjern hover på btn og animasjon når responsivt*/