* { box-sizing: border-box; }

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(-35deg, rgb(10, 10, 10), rgb(30, 28, 30), rgb(10, 10, 10));
    background-size: 100% 3500px;
    background-repeat: no-repeat;

    color: white; 
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif;

    /* PARALLAXING EFFECT */
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.code-color-elements {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -100;
}

.code-color-elements .blue, .code-color-elements .yellow, .code-color-elements .orange {
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    font-family: 'Inconsolata';
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-align: center;
}
/* Blue elements */
.code-color-elements .blue { background-color: #1b62fa; box-shadow: 0 0 3px #1b62fa;}
.code-color-elements .blue:after { 
    content: "<"; 
    position: absolute;
    top: -3px;    
    left: 19px;
}
.blue.bl-one {  top: 220px; left: 7% }
.blue.bl-two { top: 1300px; right: 20%; }
.blue.bl-three { top: 2100px; left: 12%; }

/* Yellow elements */
.code-color-elements .yellow { background-color: #ffda00; box-shadow: 0 0 3px #ffda00; }
.code-color-elements .yellow::after { 
    content: "/"; 
    position: absolute;
    font-size: 20px;   
    left: 20px;
}
.yellow.yel-one { top: 410px; right: 25%; }
.yellow.yel-two { top: 1450px; left: 5%; }
.yellow.yel-three { top: 2500px; right: 15%;}

/* Orange elements */
.code-color-elements .orange { background-color: #ff5f1f; box-shadow: 0 0 3px #ff5f1f;}
.code-color-elements .orange:after { 
    content: ">"; 
    position: absolute;
    top: -3px;    
    left: 20px;
}
.orange.or-one { top: 800px; left: 25%; }
.orange.or-two { top: 1900px; right: 25%; }
.orange.or-three { top: 2800px; left: 18%;}

/* PARALLAXING */
/* h2 heading */
.parallax_container {
    max-width: 1000px;
    margin: 75px auto;
    text-align: center;
    line-height: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/* top image */
.parallax_container > h1 {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
}

/* heading */
h1 {
    font-family: inconsolata;
    font-size: 30px;
    text-align: left;
}

/* marks what tag it belongs to */
#heading_marker { color: #06b4ff; }

.article-text {
    max-width: 600px;
    margin-left: 100px;
    text-align: left;
}

.parallax_right { margin-left: 18%; }
.parallax_right p { margin-top: -250px; }

/* first paragraph container */
.first {
    margin-top: 5%;
    height: 250px;
}

/* triangle to right */
#triangle-topright {
    width: 0;
    height: 0;
    border-top: 275px solid rgb(23, 23, 23);
    border-left: 275px solid transparent;
}

/* parallaxing */
.first>p {
    margin-top: -30%;
    transform: translateZ(0.25px) scale(0.75) translateY(10%);
}

/* second paragraph container */
.second {
    margin-top: 100px;
    height: 400px;
}

/* parallaxing */
.second>h1,
.second>p {
    transform: translateZ(0.25px) scale(0.75) translateY(-10%);
}

/* triangle to left */
#triangle-topleft {
    width: 0;
    height: 0;
    margin-left: 500px;
    border-top: 275px solid rgb(23, 23, 23);
    border-right: 275px solid transparent;
}

/* third paragraph container */
.third {
    margin-top: 50px;
    margin-right: 10%;
}

.third a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

pre {
    max-width: 600px;
    margin: 20px 0 40px 100px;
    padding-left: 15px;
    color: black;
    text-align: left;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    white-space: pre-wrap;
}

/* HTML tags, names, attr, class, number, string */
/* CSS class, attributes */
.html-tag { color: rgb(100, 100, 100); }
.html-name { color: rgb(82, 170, 241); }

.html-attr,
.css-selector-class,
.css-number {
    color: rgb(245, 191, 121);
}

.html-string,
.css-attribute {
    color: rgb(135, 184, 135);
}

.css-built_in { color: rgb(205, 218, 134); }

/* fourth paragraph container */
.fourth { height: 500px; }

.fourth>p {
    transform: translateZ(0.25px) scale(0.75) translateY(10%);
}

#dark_triangle {
    width: 0;
    height: 0;
    margin-left: 500px;
    border-top: 300px solid rgb(23, 23, 23);
    border-right: 300px solid transparent;
}

#author {
    margin-top: 150px;
    text-align: left;
}

#lesmer {
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-left: 160px;
    margin-right: 160px;
}

/* iPad width 768px */
@media (max-width: 800px) {
    #triangle-topright { display: none; }

    #triangle-topleft { display: none; }

    #dark_triangle { display: none; }

    .parallax_container>h1 { margin-left: 10%; }

    h1 { font-size: 25px; }

    .article-text {
        margin-left: 0;
        max-width: 90%;
    }

    .first { height: 220px; }

    .first p { margin-top: 13%; }

    .second { margin-top: 0; }

    .parallax_left,
    .parallax_right {
        margin-left: 10%;
    }

    .parallax_right p { margin-top: 0; }

    pre {
        margin: 0;
        margin-bottom: 40px;
        text-align: left;
        max-width: 550px;
    }
    #author { margin-left: 10%; }
}

@media (max-width: 375px) {

    .parallax_container { margin-top: 150px; }

    .first>p { transform: none; }

    .second>h1,
    .second>p {
        transform: none;
    }

    .fourth>p { transform: none; }
}